<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->        
  </head>

  <body>
  	<div class="container-fluid" >

  		<nav class="navbar navbar-default navbar-fixed-top">
  			<div id="navbar" class="container-fluid">
  				<div class="navbar-header">
  					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
  						<span class="sr-only">Toggle navigation</span>
  						<span class="icon-bar"></span>
  						<span class="icon-bar"></span>
  						<span class="icon-bar"></span>
  					</button>
  					<a class="navbar-brand" href="#">COGS 120</a>
  				</div>

  				<!-- Collect the nav links, forms, and other content for toggling -->
  				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  					<ul class="nav navbar-nav navbar-right">
  						<p class="navbar-text">jac_bon</p>
  						<a id="settings-button" href="settings/" class="btn btn-lg"> <!--class used to have btn-info-->
  							<span class="glyphicon glyphicon-cog"></span>
  						</a>
  					</ul>
  				</div>

  			</div>
  		</nav>
  		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
  		<!-- p means paragraph -->
  		<!--
  		<div class="jumbotron">
  			<h1>Michael Bernstein</h1>
  			<p>human-computer interaction &middot; social computing &middot; crowdsourcing</p>
  		</div>
		
  		<ol>
  			{{#each projects}}
  			<li>
  				<a href="#{{id}}">
  					{{name}}
  				</a>
  			</li>
  			{{/each}}
  		</ol>
		-->


  		<h4>Posts</h4>
  		<!-- divs are invisible structuring elements that stack vertically by default. Use them to organize your code -->
  		<!-- img tags are images. Lorem Pixel will deliver random images; handy! -->
  		<!-- a are anchors, also known as hyperlinks. Use the href attribute to tell the browser where to go when the user clicks -->
  		<!--
  		{{#each projects}}
  		<div class="project" id="{{id}}">
  			<a href="project/{{name}}.html" class="thumbnail">
  				<img src="images/{{image}}" class="img">
  				<p>{{name}}</p>
  			</a>
  		</div>
  		{{/each}}-->
      <div id="new-post-button">
        <a href="#"> 
          <p> New Post</p>
          <img  src="../images/NewPost.png">
        </a>
      </div>
  		<div id="groups-button" class="panel-group">
  			<div  class="panel panel-default">
  				<div id="groups-heading" class="panel-heading">
  					<h4 id="groups-title" class="panel-title">
  						<a data-toggle="collapse" href="#collapse1">Groups</a>
  					</h4>
  				</div>
  				<div id="collapse1" class="panel-collapse collapse">
  					<ul class="list-group">
  						<li class="list-group-item">Cogs 120</li>
  						<li class="list-group-item">Dance Team</li>
  					</ul>
  					<button id="new-group-button" type="button" class="btn btn-lg" autocomplete="off">Create/Join New Group</button>
  				</div>
  			</div>
  		</div>

  		<div id="messages-button" class="panel-group">
  			<div class="panel panel-default">
  				<div id="messages-heading" class="panel-heading">
  					<h4 id="messages-title" class="panel-title">
  						<a data-toggle="collapse" href="#collapse2">Messages</a>
  					</h4>
  				</div>
  				<div id="collapse2" class="panel-collapse collapse">
  					<br>
  					<br>
  					<br>
  					<br>
  					<form id="send-bar" class="navbar-form navbar-left">
  						<div class="form-group">
  							<input type="text" class="form-control" placeholder="Type message here">
  						</div>
  						<button type="submit" class="btn btn-default">Send</button>
  					</form>
  				</div>
  			</div>
  		</div>

  	</div>

  	<script src="https://code.jquery.com/jquery.js"></script>
  	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
  </html>
