<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THE GREEN APP</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

</head>

<body>


  <!--  Navbar -->
  <div id="navbar-wrapper">
    <nav id="navbar" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <!-- Sidebar button -->
          <button id="navbar-button-sidemenu" type="button" class="toggle-nav navbar-toggle" data-toggle="collapse">
            <span class="glyphicon glyphicon-list"></span>
          </button>

          <!-- Settings button -->
          <button id="navbar-button-settings" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-settings">
            <span class="glyphicon glyphicon-option-vertical"></span>
          </button>

          <!-- App Name -->

          <a href="/user/{{UserName}}"><p id="navbar-brand" class="navbar-text"><img id="group-logo" class="navbar-logo" src="/assets/logo.png" >Green</p></a>
        </div>

        <!-- Navbar options -->
        <div class="collapse navbar-collapse" id="navbar-settings">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <!-- Trigger the modal with a button -->
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#new-group">Add Group <span class="glyphicon glyphicon-plus"></span> </button>
            </li>
            <li>
             <div class="dropdown">
              <button id="groups-dropdown" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Groups
                <span class="caret"></span></button>
                <ul id="groups-list" class="dropdown-menu">
                  {{#each groups}}
                  <li><a href="/user/{{ ../UserName }}/{{ this.TeamURL }}"> {{ this.TeamName }} </a></li>
                  {{/each}}
                </ul>
              </div>
            </li>
            <li>
              <a href="/user/{{ UserName }}/account-settings" >
                <span class="glyphicon glyphicon-user"></span>
                {{ UserName }}
              </a>
            </li>
            <li><a href="/"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          </ul>
        </div>
      </div>
    </nav>

  </div>
  <!--  Navbar end-->

  <div id="site-wrapper">

    <div id="site-canvas">

      <div id="sidebar-wrapper">
        <h1 id="team-name">{{ groupData.TeamName }}</h1>
        <p id="team-description">{{ groupData.TeamDescription }}</p>
        <button id="share-btn" type="button" class="btn" data-toggle="modal" data-target="#share">Share Group</button>
        <h2 id="team-members">Team Members</h2>
        <ul class="sidebar-nav">
          {{#each groupData.Members}}
          <li>{{ this.membername }}</li>
          {{/each}}
        </ul>
      </div>

      <div id="main-content">
        <!-- MAIN CONTENT GOES HERE -->

        <div id="make-post-bar">
          <h3> Bulletin </h3>
          <p id="date"></p>
          <textarea id="post-text" class="form-control" rows="3" placeholder="What's up?" required ></textarea>
          <button onClick="addPost('{{ UserName }}', '{{ groupData.TeamName }}'); clearForm()" id="post-btn" type="button" class="btn">Post</button>
          
          <div id="check-box">
            <div><input id="pin-check" type="checkbox"> <span class="glyphicon glyphicon-pushpin"></span>Pin your post to the top </div>
            <div><input id="urgent-check" type="checkbox"> <span class="glyphicon glyphicon-exclamation-sign"></span>Urgent post</div>
          </div>
          <!--
          <div id="check-box">
            <input id="pin-check" type="checkbox"> <span class="glyphicon glyphicon-pushpin" data-toggle="tooltip" title="Pin a post to sticky it to the top"></span>
            <input id="urgent-check" type="checkbox"> <span class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="Urgent posts play a special notification to your group mates"></span>
          </div>-->

        </div>
        <div id="pin-stack">
        </div>
        <div id="card-stack">
        </div>
      </div>

    </div>

    <!-- Urgent Message Modal -->
    <div class="modal" id="urgent-message" role="dialog" data-backdrop="false" >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Urgent Message</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <ul>
                  <li><h4>Name your group:</h4></li>
                  <li class="col-xs-2" ><input id="group-name" type="text" class="form-control" placeholder="Group Name"></li>
                  <li><h4>Describe your group:</h4><textarea id="group-description" class="form-control" rows="3" placeholder="Description" required></textarea></li>
                </ul>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button onClick="addGroup('{{ UserName }}')" type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <!-- New Group Modal -->
    <div class="modal fade" id="new-group" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">New Group</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <ul>
                  <li><h4>Name your group:</h4></li>
                  <li class="col-xs-2" ><input id="group-name" type="text" class="form-control" placeholder="Group Name"></li>
                  <li><h4>Describe your group:</h4><textarea id="group-description" class="form-control" rows="3" placeholder="Description" required></textarea></li>
                </ul>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button onClick="addGroup('{{ UserName }}')" type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Share button modal -->
    <div class="modal fade" id="share" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"> Share Group </h4>
          </div>
          <div class="link-share">
            <h4> Link Sharing! </h4>
            <p> https://thebears-turnin.herokuapp.com/ </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/js/sidemenu.js"></script>
  <script type="application/javascript" src="/assets/js/fastclick.js"></script>

  <script>
  window.addEventListener('load', function() {
    new FastClick(document.body);
  }, false);


  setInterval("getUpdates()", 500);  // call function every half a second


  function addGroup(UserName){
    var groupName = document.getElementById('group-name').value;
    var groupDescription = document.getElementById('group-description').value;
    var newGroup =  
    {
      "TeamURL": groupName.toLowerCase().replace(/ /g,"_"),
      "TeamName": groupName,
      "TeamDescription": groupDescription,
      "Members": [
      {"membername": UserName}
      ],
      "Pinned": [],
      "Posts": []
    };
    $.ajax({
      url: "/changeJson",
      data: newGroup,
      type: "POST",
      dataType: "json",

    });

    groupOption = '<li><a href="/user/' + UserName + '/' + groupName.toLowerCase().replace(/ /g,"_") + '">' + groupName + '</a></li>';
    $('#groups-list').append(groupOption);

  } 

  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });

  var lastPost = 0;

  function getUpdates(){
    var TeamName = document.getElementById('team-name').innerText;
    TeamName = TeamName.toLowerCase().replace(/ /g,"_") ;
    URL = "/" + TeamName + "/" + lastPost;
    //console.log("hitting up the server at " + URL);
    $.get(URL, updatePosts);
  }

  function updatePosts(result){
    //console.log(result);
    if(result === undefined) return;
    for (var i=result.length -1; i>=0; i--){
      displayPost(result[i]);
      lastPost = (lastPost > result[i].timeStamp) ? lastPost : result[i].timeStamp;
      if(result[i].urgent = "on"){
        console.log("urgentMessage Received");
        displayUrgent(result[i]);
      }
    }
  }

  function displayUrgent(urgentPost){
    var modal = $('#urgent-modal');
    modal.modal("show");
  }

  function addPost(UserName, TeamName){
    var postText = document.getElementById('post-text').value;
    if (postText === undefined) return;
    var newPost = {
      "groupid": TeamName.toLowerCase().replace(/ /g,"_"),
      "author": UserName,
      "date": timeConverter(Date.now()/1000 | 0),
      "timeStamp": Date.now(),
      "postText" : postText,
      "pinned" : ($('#pin-check').is(":checked"))?"on":"no",
      "urgent" : ($('urgent-check').is(":checked"))?"on":"no"
    };

    var postData = {
      postBody: newPost,
      groupName: TeamName,
    }

    $.post("/user/" + UserName + "/" + TeamName.toLowerCase().replace(/ /g,"_") + "/newPost", postData);
    $.post("/api/newPost", newPost);

  }

  function displayPost(result){
    var fullPost;
    if (result.pinned == "no"){
      fullPost = '<div class="card"> <div style="display: block;"> <span>'+ result.author +'</span> <div class="dropdown post-options" style="display:inline; float: right;"><button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-option-vertical"></span></button><ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1"><li><a href="#">Edit Post</a></li><li><a href="#">Delete Post</a></li></ul></div></div><p id="date">'+ result.date +'</p><p>'+result.postText+'</p></div>';



      $('#card-stack').prepend(fullPost);
    } else {

      fullPost = '<div class="card"> <div style="display: block;"> <span>'+ result.author +'</span><div class="dropdown post-options" style="display:inline; float: left;"><a href="#" data-toggle="tooltip" title="Pinned"><img id="pin" src="/assets/pinR.png" /></a></div> <div class="dropdown post-options" style="display:inline; float: right;"><button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-option-vertical"></span></button><ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1"><li><a href="#">Edit Post</a></li><li><a href="#">Delete Post</a></li></ul></div></div><p id="date">'+ result.date + '</p><p>'+result.postText+'</p></div>';
      $('#pin-stack').prepend(fullPost);
    }
  }


  function clearForm() 
  {
    document.getElementById("post-text").value = "";

  }


  function timeConverter(UNIX_timestamp){
    var a = new Date(UNIX_timestamp * 1000);
    var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
    var year = a.getFullYear();
    var month = months[a.getMonth()];
    var date = a.getDate();
    var hour = a.getHours();
    var min = a.getMinutes();
    var sec = a.getSeconds();
    var AmPm = "am";
    if (hour > 12) {
      AmPm = "pm";
      hour = hour -12;
    }
    if (hour < 10) hour = hour;
    if (min < 10) min = "0" + min;
    if (sec < 10) sec = "0" + sec;

    var time = month + ' ' + date + ' ' + year + ' at ' + hour + ':' + min + "" + AmPm;
    return time;
  }

  </script>



  <script src="/assets/js/post.js"></script>

</body>

</html>
