<!DOCTYPE html>
<html>

<head>
  <!-- Google Analytics Content Experiment code -->
<script>/*function utmx_section(){}function utmx(){}(function(){var
k='134576284-1',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();*/
</script><script>/*utmx('url','A/B');*/</script>
<!-- End of Google Analytics Content Experiment code -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THE GREEN APP</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

</head>

<body>


  <!--  Navbar -->
  <div id="navbar-wrapper">
    <nav id="navbar" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <!-- Sidebar button -->
          <button id="navbar-button-sidemenu" type="button" class="toggle-nav navbar-toggle" data-toggle="collapse">
            <span class="glyphicon glyphicon-list"></span>
          </button>

          <!-- Settings button -->
          <button id="navbar-button-settings" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-settings">
            <span class="glyphicon glyphicon-option-vertical"></span>
          </button>

          <!-- App Name -->

          <a href="/user/{{UserName}}"><p id="navbar-brand" class="navbar-text"><img id="group-logo" class="navbar-logo" src="/assets/logo.png" >Green</p></a>
        </div>

        <!-- Navbar options -->
        <div class="collapse navbar-collapse" id="navbar-settings">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <!-- Trigger the modal with a button -->
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#new-group" onClick="clearGroupForm()">Add Group<span class="glyphicon glyphicon-plus"></span> </button>
            </li>
            <li>
             <div class="dropdown">
              <button id="groups-dropdown" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Groups
                <span class="caret"></span></button>
                <ul id="groups-list" class="dropdown-menu">
                  {{#each groups}}
                  <li><a href="/user/{{ ../UserName }}/{{ this.TeamURL }}"> {{ this.name }} </a></li>
                  {{/each}}
                </ul>
              </div>
            </li>
            <li>
              <a href="/user/{{ UserName }}/account-settings" >
                <span class="glyphicon glyphicon-user"></span>
                <element id="UserName">{{ UserName }}</element>
              </a>
            </li>
            <li><a href="/"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          </ul>
        </div>
      </div>
    </nav>

  </div>
  <!--  Navbar end-->

  <div id="site-wrapper">

    <div id="site-canvas">

      <div id="sidebar-wrapper">
        <h1 id="team-name">{{ groupData.name }}</h1>
        <p id="team-description">{{ groupData.description }}</p>
        <button id="share-btn" type="button" class="btn" data-toggle="modal" data-target="#share">Share Group</button>
        <h2 id="team-members">Team Members</h2>
        <ul class="sidebar-nav">
          {{#each groupData.members}}
          <li>{{ this }}</li>
          {{/each}}
        </ul>
      </div>

      <div id="main-content">
        <!-- MAIN CONTENT GOES HERE -->

        <div id="make-post-bar">
          <h3> Bulletin </h3>
          <p id="date"></p>
          <textarea id="post-text" class="form-control" rows="3" placeholder="What's up?" required ></textarea>
          <button onClick="addPost('{{ groupData.name }}'); clearForm()" id="post-btn" type="button" class="btn">Post</button>
          <!--
          <div id="check-box">
            
          </div>-->

          <div id="check-box">
              <div><input id="pin-check" type="checkbox"> 
                <span class="glyphicon glyphicon-pushpin"></span>Pin your post to the top 
              </div>
              <div>
                <input id="urgent-check" type="checkbox"> <span class="glyphicon glyphicon-exclamation-sign"></span>Urgent post
              </div>
          </div>

        </div>
        <div id="pin-stack">
        </div>
        <div id="card-stack">
        </div>
      </div>

    </div>

    <!-- Urgent Message Modal -->
    <div class="modal" style="display: none" id="urgent-modal" role="dialog" data-backdrop="false" >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <span><h4 class="modal-title">Urgent Message</h4></span>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <h4 id="urgent-header"></h4>
                <h4></h4>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
          </div>
        </div>
      </div>
    </div>

    <!-- New Group Modal -->
    <div class="modal fade" id="new-group" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">New Group</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <ul>
                  <li><h4>Name your group:</h4></li>
                  <li class="col-xs-2" ><input id="group-name" type="text" class="form-control" placeholder="Group Name"></li>
                  <li><h4>Describe your group:</h4><textarea id="group-description" class="form-control" rows="3" placeholder="Description" required></textarea></li>
                </ul>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button id="submit-new-group" onClick="addGroup()" type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Share button modal -->
    <div class="modal fade" id="share" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"> Share Group </h4>
          </div>
          <div class="link-share">
            <h4> Share this link with your team! </h4>
            <p>https://thebears-turnin.herokuapp.com</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/js/sidemenu.js"></script>
  <script type="application/javascript" src="/assets/js/fastclick.js"></script>nod

  <script>/*
    $("#check-box").click(function () {
      ga('send', 'event', 'checkbox', 'click');
    });*/
  </script>

  <script>
  window.addEventListener('load', function() {
    new FastClick(document.body);
  }, false);

  UserName = $("#UserName").text();
  GroupName = $("#team-name").text();
  console.log(GroupName);
  console.log(urlify(GroupName));
  console.log("/user/" + UserName + "/" + urlify(GroupName) + "/addMember");
  $.get("/user/" + UserName + "/" + urlify(GroupName) + "/addMember");


  var lastPost = 0;

  getUpdates();
  setInterval("getUpdates()", 750);  // call function every half a second

  $('#submit-new-group').attr('disabled', true);

  $('#group-name').keyup(function () {
    console.log("keyup");
    var groupName = $('#group-name').val();
    console.log(groupName);
    $('#submit-new-group').prop('disabled', (groupName === undefined)? true: ((groupName === "")? true : false));
  });


  function addGroup(){
    var groupName = document.getElementById('group-name').value;
    console.log(groupName);
    var groupDescription = document.getElementById('group-description').value;
    var newGroup =  
    {
      "TeamURL": urlify(groupName),
      "name": groupName,
      "description": groupDescription,
      "members": [
      UserName
      ],
      "posts": []
    };


    $.post("/addGroup", newGroup, changeGroup);
  } 


  function changeGroup(result){
    console.log(result);
    location.href='/user/' + UserName + "/" + result;
  }


  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });


  function getUpdates(){
    var TeamURL = urlify(GroupName);
    var URL = "/" + TeamURL + "/" + lastPost;
    console.log("hitting up the server at " + URL);
    $.get(URL, updatePosts); 
  }

  function updatePosts(result){
    console.log("yo/: "+result.length);
    if(result === undefined) return;
    for (var i=result.length -1; i>=0; i--){
      console.log(result[i].timeStamp);
      if( lastPost < result[i].timeStamp){
        displayPost(result[i]);
        lastPost = result[i].timeStamp;
        //lastPost = (lastPost > result[i].timeStamp) ? lastPost : result[i].timeStamp;
        if(result[i].urgent == "on"){
         displayUrgent(result[i]);
        }
      }

    }
  }

  function displayUrgent(urgentPost){
    if(UserName === urgentPost.author) return; //console.log("message won't normall display.");
    var urgentModal = $('#urgent-modal');
    console.log(urgentModal);
    var urgentModalHeader = $("#urgent-header");
    urgentModalHeader.text(urgentPost.author + " has sent made an important post.");
    urgentModal.modal();
  }

  function addPost(){
    var postText = document.getElementById('post-text').value;
    if (postText === undefined) return;
    if (postText === "") return;
    var newPost = {
      "groupid": urlify(GroupName),
      "author": UserName,
      "date": timeConverter(Date.now()/1000 | 0),
      "timeStamp": Date.now(),
      "postText" : postText,
      "pinned" : ($('#pin-check').is(":checked"))?"on":"no",
      "urgent" : ($('#urgent-check').is(":checked"))?"on":"no"
    };


    $.post("/user/" + UserName + "/" + urlify(GroupName) + "/newPost", newPost);
    //$.post("/api/newPost", newPost);

  }

  function deletePost(cardnum){
    var card = $("#card" + cardnum);
    var timeStamp = $("#stamp" + cardnum).text();
    var URL = "/user/" + UserName + "/" + urlify(GroupName) + "/remove/" + timeStamp;
    $.get(URL);
    card.remove();
  }

  var numCards = 0;

  function displayPost(result){
    console.log("new Post received");
    var fullPost;
    /* for dropdown button*/
    /*<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-option-vertical"></span></button><ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1"><li><a href="#">Edit Post</a></li><li><a onclick="deletePost('+ numCards +')" href="#">Delete Post</a></li></ul>*/

    fullPost = '<div class="card" id="card' + numCards + '"> <div style="display: block;">' + ((result.urgent === "on")?'<span class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="Urgent posts play a special notification to your group mates"></span> ' : '')+' <span>'+ result.author +'</span><div class="dropdown post-options" style="display:inline; float:'+ ((result.pinned === "on")?' left;">': 'right;">') + ((result.pinned === "on")?'<a href="#" data-toggle="tooltip" title="Pinned"><img id="pin" src="/assets/pinR.png" /></a> ':'') + '</div>' + ((result.author == UserName)?'<div class="dropdown post-options" style="display:inline; float: right;"><button type="button" class="close" onclick="deletePost('+ numCards +')">&times;</button></div>':'') +'</div><p id="date">'+ result.date + '</p><p>'+result.postText+'</p><p class="timeStamp" id="stamp' + numCards + '" style="visibility: hidden">'+result.timeStamp+'</p></div>';
    numCards = numCards + 1;
    if(result.pinned === "on") {
      $('#pin-stack').prepend(fullPost);
    } else {
      $('#card-stack').prepend(fullPost);
    }

  }


  function clearForm() 
  {
    document.getElementById("post-text").value = "";
  }

  function clearGroupForm() 
  {
    document.getElementById("group-name").value = "";
    document.getElementById("group-description").value = "";
  }

  function timeConverter(UNIX_timestamp){
    var a = new Date(UNIX_timestamp * 1000);
    var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
    var year = a.getFullYear();
    var month = months[a.getMonth()];
    var date = a.getDate();
    var hour = a.getHours();
    var min = a.getMinutes();
    var sec = a.getSeconds();
    var AmPm = "am";
    if (hour > 12) {
      AmPm = "pm";
      hour = hour -12;
    }
    if (hour < 10) hour = hour;
    if (min < 10) min = "0" + min;
    if (sec < 10) sec = "0" + sec;

    var time = month + ' ' + date + ' ' + year + ' at ' + hour + ':' + min + "" + AmPm;
    return time;
  }

  function urlify(Phrase){
    return Phrase.toLowerCase().replace(/ /g,"_");
  }

  </script>



  <script src="/assets/js/post.js"></script>

  <!-- analytics tracking script -->
  <script>/*
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88017639-1', 'auto');
  ga('send', 'pageview');
*/
</script>
<!-- end analytics tracking -->

</body>

</html>
