<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THE GREEN APP</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

</head>

<body>

  <!--  Navbar -->
  <div id="navbar-wrapper">
    <nav id="navbar" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <!-- Sidebar button -->
          <button id="navbar-button-sidemenu" type="button" class="toggle-nav navbar-toggle" data-toggle="collapse">
            <span class="glyphicon glyphicon-list"></span>
          </button>

          <!-- Settings button -->
          <button id="navbar-button-settings" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-settings">
            <span class="glyphicon glyphicon-option-vertical"></span>
          </button>

          <!-- App Name -->

          <p id="navbar-brand" class="navbar-text"><img id="group-logo" class="navbar-logo" src="/assets/logo.png" />Green</p>
        </div>

        <!-- Navbar options -->
        <div class="collapse navbar-collapse" id="navbar-settings">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/user/{{ UserName }}/account-settings" >
                  <span class="glyphicon glyphicon-user"></span>
                  {{ UserName }}
              </a>
            </li>
            <li><a href="/"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          </ul>
        </div>
      </div>
    </nav>

  </div>
  <!--  Navbar end-->

  <div id="site-wrapper">

    <div id="site-canvas">

      <div id="sidebar-wrapper">
        <h1 id="team-name">{{ groupData.TeamName }} </h1>
        <p id="team-description">{{ groupData.TeamDescription }}</p>
        <h2 id="team-members">Team Members</h2>
        <ul class="sidebar-nav">
          {{#each groupData.Members}}
            <li>{{ this.membername }}</li>
          {{/each}}
        </ul>
      </div>

      <div id="main-content">
        <!-- MAIN CONTENT GOES HERE -->
          <div id="bulletin-header">
            
          </div>
            <div id="make-post-bar">
              <h3> Bulletin </h3>
            <p id="date"></p>
              <input type="text" class="form-control" placeholder="What's up?">
              <button onClick="post" id="post-btn" type="button" class="btn">Post</button>

            </div>
        
            <div class="card card-block">
              <h4>Welcome</h4>
              <p>Welcome to the Green app! Let's get started. You can make posts, change groups, and mark posts as urgent.</p>
            </div>
     
      </div>

    </div>
  </div>

  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/js/sidemenu.js"></script>
  <script type="application/javascript" src="/assets/js/fastclick.js"></script>

  <script>
  window.addEventListener('load', function() {
    new FastClick(document.body);
  }, false);
  </script>

  <script>
    document.getElementById("date").innerHTML = Date();
  </script>

  <script src="/assets/js/post.js"></script>

</body>

</html>
