<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SETTINGS</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
</head>

<body>
  <div>

    <!--  Navbar -->
    <div id="navbar-wrapper">
      <nav id="navbar" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">

            <!-- Settings button -->
            <button id="navbar-button-settings" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-settings">
              <span class="glyphicon glyphicon-option-vertical"></span>
            </button>

            <!-- App Name -->
          <a href="/user/{{UserName}}"><p id="navbar-brand" class="navbar-text"><img id="group-logo" class="navbar-logo" src="/assets/logo.png" >Green</p></a>
          </div>

          <!-- Navbar options -->
          <div class="collapse navbar-collapse" id="navbar-settings">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#new-group">Add Group <span class="glyphicon glyphicon-plus"></span> </button>
              </li>
              <li>
               <div class="dropdown">
                <button id="groups-dropdown" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Groups
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    {{#each groups}}
                    <li><a href="/user/{{ ../UserName }}/{{ this.TeamURL }}"> {{ this.name }} </a></li>
                    {{/each}}
                  </ul>
                </div>
              </li>
              <li>
                <a href="/user/{{ UserName }}/account-settings" >
                  <span class="glyphicon glyphicon-user"></span>
                  <element id="UserName">{{ UserName }}</element>
               </a>
              </li>
              <li><a href="/"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
            </ul>
          </div>
        </div>
      </nav>

    </div>
    <!--  Navbar end-->

    <div id="settings-wrapper">
      <div id="settings-content">
        <!--
        <a href="/user/username">forward!</a>
      -->
      <h4>Account Settings</h4>
      <form>
        <div class="form-group">
          <label>Name</label>
          <input id="new-username" type="email" class="form-control" aria-describedby="emailHelp" placeholder="{{ UserName }}">

          <label>Change email</label>
          <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="{{ Email }}">

          <label>Change Password</label>
          <input type="password" class="pw-form form-control" aria-describedby="emailHelp" placeholder="Old Password">
          <input type="password" class="pw-form form-control" aria-describedby="emailHelp" placeholder="New Password">
          <input type="password" class="pw-form form-control" aria-describedby="emailHelp" placeholder="Confirm New Password">
        </div>
      </form>
      <button type="button" class="btn-lg" onClick="settings('cancel', '{{UserName}}')">Cancel</button>
      <button type="button" class="btn-lg" onClick="settings('confirm', '{{UserName}}')">Confirm</button>
    </div>
  </div>

      <!-- New Group Modal -->
    <div class="modal fade" id="new-group" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">New Group</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <ul>
                  <li><h4>Name your group:</h4></li>
                  <li class="col-xs-2" ><input id="group-name" type="text" class="form-control" placeholder="Group Name"></li>
                  <li><h4>Describe your group:</h4><textarea id="group-description" class="form-control" rows="3" placeholder="Description" required></textarea></li>
                </ul>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button id="submit-new-group" onClick="addGroup()" type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
          </div>
        </div>
      </div>
    </div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/sidemenu.js"></script>
<script type="application/javascript" src="/assets/js/fastclick.js"></script>
<script>

  UserName = $("#UserName").text();

  function settings(option, username){
    if (option == "cancel"){
      location.href = "/user/" + username;
    } else {
      var newUserName = document.getElementById('new-username').value; 
      console.log("balls" + newUserName);
      location.href = "/user/" + newUserName;
    }
  }


  function addGroup(){
    var groupName = document.getElementById('group-name').value;
    console.log(groupName);
    var groupDescription = document.getElementById('group-description').value;
    var newGroup =  
    {
      "TeamURL": urlify(groupName),
      "name": groupName,
      "description": groupDescription,
      "members": [
      UserName
      ],
      "posts": []
    };

    $.post("/addGroup", newGroup, changeGroup);
  } 

</script>
</body>

</html>
